@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

// .table-container {
//   border: 1px solid $mercury;
//   background-color: $white;
//   border-radius: 4px;
//   overflow-y: auto;
//   width: 50vw;
//   height: 50vh;
//   margin-bottom: 20px;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//   position: relative;
// }

// &.MuiTableContainer-root {
//     width: auto;
//     margin: 10px;
//   }

//   &.MuiTable-root {
//     position: relative;
//     position: sticky;
//     top: 0;
//     z-index: 999 !important;
//     .MuiTableHead-root {
//       position: sticky;
//       top: 0;
//       z-index: 999 !important;
//     }
//   }
//   .MuiTableCell-root {
//     @include text-style();
//     padding: 10px;
//   }
//   .MuiTableCell-head {
//     @include text-style($font-weight: 900);
//   }

.user-data__list {
  @include flexbox($flex-direction: column, $gap: 0);
  border: 1px solid $mercury;
  border-radius: 10px;
  height: 400px;
  margin: 10px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.user-data__list-header {
  @include flexbox($flex-direction: row, $gap: 0);
  width: 100%;
  padding: 10px;
  background-color: $primary;
}
.user-data__list-body {
  @include flexbox($flex-direction: row, $gap: 0);
  padding: 10px;
  width: 100%;
}

.user-data__cell {
  padding: 10px;
  flex: 1;
}

.user-data__list-body .user-data__cell:nth-child(3),
.user-data__list-body .user-data__cell:nth-child(4),
.user-data__list-header .user-data__cell:nth-child(3),
.user-data__list-header .user-data__cell:nth-child(4) {
  flex: 2;
}

.user-data__heading {
  @include text-style($font-weight: 900);
}

.user-data__value {
  @include text-style();
}

.columns__container {
  overflow-y: scroll;
  width: 100%;
  max-height: 350px;
}
