@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.wrapper {
  @include wrapper();
}
.login {
  &__container {
    @include flexbox($flex-direction: column);
    padding: 1rem;
    width: 50vw;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: $white;
  }
}

.form {
  min-width: 400px;
  padding: 2rem 0rem;
  @include flexbox($flex-direction: column);
}

.form-footer {
  @include flexbox($flex-direction: column);
  padding: 0rem 0rem 2rem 0rem;
  & > a {
    @include text-style();
  }
}
