@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-wrapper {
  @include flexbox($align-items: flex-start);
}
.wrapper {
  @include wrapper($width: 80vw);
  @include flexbox();
}
.form {
  &__container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: $white;
    border-radius: 8px;
    padding: 2rem;
  }
}
