@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-wrapper {
  @include flexbox($align-items: flex-start);
}
.wrapper {
  @include wrapper($width: 80vw);
  @include flexbox();
}
.form {
  &__container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: $white;
    border-radius: 8px;
    padding: 2rem;
    height: 500px;
    overflow-y: scroll;
  }
}
.formfield__date {
  @include flexbox(
    $flex-direction: column,
    $gap: 0.5rem,
    $align-items: flex-start
  );
  width: 100%;
  .MuiInputBase-root {
    background-color: $alabaster; // Light gray background
    border-radius: 4px; // Rounded corners
    @include text-style($line-height: 1.2, $text-align: left);
    padding: 0; // Adjust padding
  }

  // Customize the outline for the input field
  .MuiOutlinedInput-root {
    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border: 1px solid $primary; // Blue outline
    }
    .MuiOutlinedInput-notchedOutline {
      border: 1px solid $mercury;
    }
  }
}

.formfield__select {
  width: 100%;
}
.formfield {
  &__date-label {
    @include text-style(
      $color: $silver,
      $font-weight: 600,
      $text-transform: uppercase
    );
  }
  &__select-label {
    @include text-style(
      $color: $silver,
      $font-weight: 600,
      $text-transform: uppercase
    );
    padding-bottom: 0.5rem;
  }
}

.field {
  &__error-block {
    @include flexbox($justify-content: flex-start);
  }
  &__error-img {
    height: 12px;
    width: 12px;
  }
  &__error {
    @include text-style($color: $error);
  }
}
