@use "./typography" as *;
@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  margin-inline: 0;
  overflow-x: hidden;
}
p {
  margin-block: 0;
}

h1 {
  @include text-style(
    $font-size: 1.75rem,
    $line-height: 2.25rem,
    $font-weight: 600
  );
  @include tablet {
    @include text-style($font-size: 2rem, $line-height: 2.5rem);
  }
}

ul {
  margin-block: 0;
  padding: 0;
}
