@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600; /* Semi-bold */
  font-style: normal;
}
