@use "./typography" as *;

$black: #323232;
$dark-black: #000000;
$blue: #0095ff;
$primary: #87ceeb;
$dark-blue: #0065ad;
$silver: #afafaf;
$mercury: #e1e1e1;
$white: #ffffff;
$alabaster: #fafafa;
$error: #c94515;
$font-family: "Avenir", sans-serif;
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
