@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.formfield {
  width: 100%;
  @include flexbox(
    $flex-direction: column,
    $gap: 0.5rem,
    $align-items: flex-start
  );
  &__label {
    @include text-style(
      $color: $silver,
      $font-weight: 600,
      $text-transform: uppercase
    );
  }
  &__input {
    @include input;
    width: 100%;
  }
  &__input--textarea {
    min-height: 7rem;
    @include tablet {
      min-height: 2.5rem;
    }
  }

  &__input::placeholder {
    @include text-style($line-height: 1.2, $text-align: left);
  }
  &__input:focus {
    border: 1px solid $primary;
    outline: none;
  }
  &__error-block {
    @include flexbox();
  }
  &__error-img {
    height: 12px;
    width: 12px;
  }
  &__input--error:focus {
    border: 1px solid $error;
  }
  &__error {
    @include text-style($color: $error);
  }
  @include tablet {
    &__container {
      @include flexbox(
        $flex-direction: column,
        $gap: 0.5rem,
        $align-items: flex-start
      );
      flex: 1 1 auto;
    }
  }
}
