@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.register-wrapper {
  @include wrapper();
  $width: 100vw;
}

.register {
  &__container {
    @include flexbox($flex-direction: column);
    padding: 1rem;
    width: 50vw;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: $white;
  }
}

.form {
  min-width: 400px;
  @include flexbox($flex-direction: column);
}

.formfield {
  width: 100%;
  @include flexbox(
    $flex-direction: column,
    $gap: 0.5rem,
    $align-items: flex-start
  );
  &__label {
    @include text-style(
      $color: $silver,
      $font-weight: 600,
      $text-transform: uppercase
    );
  }
  &__radio-btn-container {
    @include flexbox($flex-direction: row, $justify-content: flex-start);
    width: 100%;
  }
  &__each-radio-btn-container {
    @include flexbox($flex-direction: row, $justify-content: flex-start);
    width: 100%;
  }
  &__each-radio-btn-label {
    @include text-style();
    width: 100%;
  }
}
